.white-box {
    background-color: white;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    border: 1px solid black;
}
.black-box {
    background-color: black;
    height: 40px;
    width: 40px;
}

* {
    justify-content: center;
    align-items: center;
}

.frame {
    display: flex;
    /* width: fit-content;
    border: 1px solid; */
}

/*.line1 {
    display: flex;
    
}

.line2 {
    display: flex;
}
.line3 {
    display: flex;
}
.line4 {
    display: flex;
}
.line5 {
    display: flex;
}
.line6 {
    display: flex;
}
.line7 {
    display: flex;
}
.line8 {
    display: flex;
}*/

.box {
    width: 80px;
    height: 80px;
color: rgba(250, 235, 215, 0);
outline: black solid 1px;
}
